{% capture postsFilterCss %}{% include css/postsFilter.css %}{% endcapture %}
<style>{{ postsFilterCss | cssmin | safe }}</style>

{% capture postFilterScript %}{% include js/filterposts.js %}{% endcapture %}
<script>{{ postFilterScript }}</script>

<div class="postsfilter__wrapper" onclick="showPostsFilter();">
    <input class="postsfilter__input" type="text" placeholder="tag or title" oninput="filterPosts(this.value);">
    <button class="postsfilter__icon">⌕</button>
</div>