{% macro all(env) %}
{{ coil(env) }}
{{ adsense(env) }}
{% endmacro %}

{% macro coil(env) %}

{% if env.PAYMENT_POINTER %}
<meta name="monetization" content="{{ env.PAYMENT_POINTER }}">
{% endif %}

{% endmacro %}

{% macro adsense(env) %}
{% if env.GOOGLE_ADSENSE_DATA_AD_CLIENT and env.GOOGLE_ADSENSE_DATA_AD_CLIENT != "" %}
<!-- Google Adsense -->
<script data-ad-client="{{ env.GOOGLE_ADSENSE_DATA_AD_CLIENT }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endif %}
{% endmacro %}
