{% import "modules/sections.njk" as sectionsModule %}
{% import "modules/analytics.njk" as analyticsModule %}
{% import "modules/monetization.njk" as monetizationModule %}
{% import "modules/posts.njk" as postsModule %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Better code is more better.">
    <meta name="keywords" content="winston puckett, blog, good code, code, programming, computer science">
    <meta name="date" content="10/20/2020">
    <meta name="author" content="Winston Puckett">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦦</text></svg>">
    <link defer rel="stylesheet" href="/assets/css/footer.css">
    <title>Blog | Winston Puckett</title>

    {{ analyticsModule.all() }}
    {{ monetizationModule.all() }}
</head>
<body>
    {% set siteCss %}{% include 'css/site.css' %}{% endset %}
    <style>{{ siteCss | cssmin | safe }}</style>
    {{ sectionsModule.header(devProfile) }}
    {{ postsModule.filter() }}
{{ postsModule.cards(devPosts) }}
{{ sectionsModule.footer(env) }}
</body>
</html>